{% extends 'base.html' %}

{% block title %}关于 - Luocy`s Blog{% endblock %}

{% block content %}

<div class="main-content about-page">
    <div id="content" class="post-content">
        <h3>关于本站</h3>
        <blockquote>
            <ul>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
                <li><p>本网站搭建中...以下内容可忽略</p></li>
            </ul>
        </blockquote>
        <h3>联系方式</h3>
        <p>网站名称：Luocy`s Blog</p>
        <p>我的邮箱:luocy77@gmail.com</p>
    </div>
</div>

{% endblock %}
