<footer class="footer bg-white">
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <div class="info-text">
                        <p>&copy; 版权所有 Luocy`s Blog 保留一切权利</p>
                        <p><a href="http://www.beian.miit.gov.cn">鄂ICP备17007428</a></p>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>