{% extends 'admin/base.html' %}

{% block title %}管理中心 - Luocy`s Blog{% endblock %}

{% block content %}

<div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">仪表盘</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bx-shadow bg-info">
                                <span class="mini-stat-icon"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    发表了<span class="counter">5</span>篇文章
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-purple bx-shadow">
                                <span class="mini-stat-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    收到了<span class="counter">0</span>条留言
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-success bx-shadow">
                                <span class="mini-stat-icon"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    上传了<span class="counter">0</span>个附件
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-primary bx-shadow">
                                <span class="mini-stat-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    友链了<span class="counter">1</span>个好友
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">最新文章</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                            <span class="badge badge-primary" title="0条评论">0</span>
                                            <a target="_blank" href="/article/12">Linux 安装配置基于Vim的C++编程环境</a>
                                        </li>
                                        <li class="list-group-item">
                            <span class="badge badge-primary" title="0条评论">0</span>
                                            <a target="_blank" href="/article/11">使用ShareX 上传截图至七牛云</a>
                                        </li>
                                        <li class="list-group-item">
                            <span class="badge badge-primary" title="0条评论">0</span>
                                            <a target="_blank" href="/article/10">我的WIN10调教记录</a>
                                        </li>
                                        <li class="list-group-item">
                            <span class="badge badge-primary" title="0条评论">0</span>
                                            <a target="_blank" href="/article/7">Ngrok内网穿透</a>
                                        </li>
                                        <li class="list-group-item">
                            <span class="badge badge-primary" title="0条评论">0</span>
                                            <a target="_blank" href="/article/6">Jupyter Notebook介绍、安装服务端</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">最新留言</h4>
                                </div>
                                <div class="panel-body">

                                    <ul class="list-group">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">系统日志</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span>2020-03-14 14:03:29 =&gt; 登录后台</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>2020-03-13 23:28:34 =&gt; 登录后台</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>2020-03-12 01:23:29 =&gt; 登录后台</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>2020-03-08 15:18:59 =&gt; 登录后台</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>2020-03-08 03:03:53 =&gt; 删除文章</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{#                <div>#}
{#                    <footer class="footer text-right">#}
{#                        2020 © Luocy`s Blog#}
{#                    </footer>#}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}