{% macro pagination_widget(pagination, endpoint) %}
<ol class="page-navigator">
    {% if pagination.has_prev %}
        <li class="prev"><a href="{{ url_for(endpoint,page = pagination.page - 1, **kwargs) }}">←</a></li>
    {% endif %}

    {% for p in pagination.iter_pages() %}
        {% if p %}
            <li{% if p == pagination.page %} class="current"{% endif %}>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
        <li class="next"><a href="{{ url_for(endpoint,page = pagination.page + 1, **kwargs) }}">→</a></li>
    {%endif%}
</ol>
{% endmacro %}

